.App {
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
  
}

.card {
  width: 80vw;
  align-self: center;
}

.card-header{
  align-items: center;
  text-align: center;
  background-color: rgb(101, 130, 153);
}

.mb-3{
  align-items: center;
  flex-direction: row;
}

.li{
  flex-wrap: nowrap;
}

.done{
  text-decoration: line-through;
}

.btn{
  cursor: default !important;
}

.button{
  cursor: default !important;
}